body {
    font-family: 'DM Serif Display', serif;
    background-color: rgb(181, 189, 152);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
}

h1 {
    margin-bottom: 20px;
}

#content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: calc(33.33% - 20px); 
    box-sizing: border-box;
    overflow: hidden;
}

.product img {
    width: 60%;
    height: auto;
    margin-bottom: 10px;
}

#cart-container {
    width: 18%;
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
}

#cart {
    text-align: left;
}

.cart-item {
    margin-bottom: 10px;
}

.cart-item p {
    margin: 0;
}

.cart-item button {
    background-color: rgb(102, 22, 22);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button {
    background-color: #08610b; 
    color: rgb(255, 254, 254);
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}
#checkout-container {
    width: 18%;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}

#checkout-form {
    width: 18%;
}
.contact-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 80px;
}

.contact-icon {
    font-size: 44px;
    color: #352904; 
    text-decoration:solid;
    margin: 0 10px;
}
@media screen and (max-width: 600px) {
    #content {
        flex-direction: column;
        align-items: center;
    }

    #products {
        width: 100%;
    }

    .product {
        width: 80%;
    }

    #cart-container,
    #checkout-container {
        width: 80%;
    }

    .contact-icons {
        margin-left: 0; /* Ajusta según sea necesario */
    }
}